body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.col-sm {
  height: 250px;
}

.grid-box:hover {
  text-decoration: none;
  background-color: beige;
}

.bigger-h1 {
  font-size: 200px;
}